@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">TaskManager</a>
            </div>
        </div>

        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tareas">
                    <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Tareas
                </NavLink>
            </div>
        </nav>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/core/" target="_blank">Acerca de</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
